<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: "segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h1>LOG IN</h1>
    <form method="get" action="/login" >
        <label>EMAIL</label>
        <input type="text" required name = "email" />
        <label>PASSWORD</label>
        <input type="text" required name = "password" />

        <button type="submit">LOGIN</button>
    </form>

</body>
</html>